body {
    background-color: pink;
    color: white;
}

 .aboutme {
    margin: 20px;
    text-align: justify;
    width: 300px;
}

a {
    color:white;
    text-decoration: none;
    
}

a:hover{
    color:rebeccapurple;
}